

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8f0;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #ff7043;
  color: white;
  padding: 15px 0;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  text-align: center;
  padding: 50px 20px;
  color: white;
  background-image: url(image/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* background-size: auto; */
  background-repeat: no-repeat;
  
  flex: 1;
}

.contact {
    font-family: serif;
}

.menu {
  text-align: center;
  padding: 20px;
  flex: 1;
  
}

.cards {
  display: inline-block;
  margin: 15px;
  background: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.cards img {
  width: 150px;
  border-radius: 10px;
}
.about {
            text-align: center;
        }

footer {
  background-color: #ff7043;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: auto;
  
}


